.animated-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leaf {
  position: absolute;
  width: inherit;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100px);
}

.leaf div {
  height: auto;
  animation: animation 15s linear infinite both;
}


@keyframes animation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(150vh);
  }

}

.leaf1 div:nth-child(1) {
  width: 15vw;
  max-width: 95px;
  animation-delay: 6s;
}

.leaf1 div:nth-child(2) {
  width: 10vw;
  max-width: 63px;
  animation-delay: 1s;
}

.leaf1 div:nth-child(3) {
  width: 12vw;
  max-width: 76px;
  animation-delay: 9s;
}

.leaf1 div:nth-child(4) {
  width: 8vw;
  max-width: 51px;
  animation-delay: 7.5s;
}

.leaf1 div:nth-child(5) {
  width: 13vw;
  max-width: 80px;
  animation-delay: 10s;
}

.leaf1 div:nth-child(6) {
  width: 12vw;
  max-width: 72px;
  animation-delay: 8s;
}

.leaf1 div:nth-child(7) {
  width: 8vw;
  max-width: 51px;
  animation-delay: 14s;
}

.leaf1 div:nth-child(8) {
  width: 10vw;
  max-width: 63px;
  animation-delay: 6.5s;
}

.leaf2 div:nth-child(1) {
  width: 15vw;
  max-width: 95px;
  animation-delay: 5s;
}

.leaf2 div:nth-child(2) {
  width: 10vw;
  max-width: 63px;
  animation-delay: 10s;
}

.leaf2 div:nth-child(3) {
  width: 12vw;
  max-width: 76px;
  animation-delay: 4s;
}

.leaf2 div:nth-child(4) {
  width: 8vw;
  max-width: 51px;
  animation-delay: 8s;
}

.leaf2 div:nth-child(5) {
  width: 13vw;
  max-width: 80px;
  animation-delay: 10s;
}

.leaf2 div:nth-child(6) {
  width: 12vw;
  max-width: 72px;
  animation-delay: 8s;
}

.leaf2 div:nth-child(7) {
  width: 8vw;
  max-width: 51px;
  animation-delay: 10s;
}

.leaf2 div:nth-child(8) {
  width: 10vw;
  max-width: 63px;
}